html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* NewUserCreate */
.field-validation-error {
    color: #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}

input[type="checkbox"].input-validation-error {
    outline: 2px solid #f00;
}